#headerlink {
    text-align: right;
    color: red;
}

#maintitle{
    color: white;
}
.h3{
    color: grey;
}

#storytext{
    padding: 1px;
    height: 20rem;

}

#rightpicture{
    border: 1px solid black;
    float: right;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}
#catprofile{
    width: auto;
    padding: 1px;
}

#glassescat{
    width: 20rem;
}

#ledgecat{
    width: 20rem;
}

#copyright{
    text-align: center;
    color: grey
}

.topbanner{
    background-color: black;
}

header{
     background-color: black;
     padding: 1px;
     padding-left: 20px;
}

footer{
    background-color: black;
    padding: 1px;
    padding-left: 20px;
}
#divrightbooking{
    text-align: right;
    color: red;
}

#contact{
    color: white;
}

nav{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navlink {
    color: purple;
}