#headerlink {
    text-align: right;
    color: red;
}

#maintitle{
    color: white;
}

.h3{
    color: grey;
}

#storytext{
    padding: 1px;
    height: 20rem;
    font: 16px arial, verdana;
}

#catofweek{
    width: 80%;
    align-self: center;
    height: 30%;
}

main{
    height: 24rem;
}

#fanfav{
    width: 80%;
    align-self: center;
    height: 30%;
}

aside{
    border: 1px solid black;
    margin: 20px 4px 1px 4px;
    float: right;
    width: 15em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 3;
    text-align:center;
    font: bold 14px;
    
}

#catprofile{
    width: auto;
    padding: 1px;
}

#glassescat{
    width: 20em;
}

#ledgecat{
    width: 20em;
}

#copyright{
    text-align: center;
    color: grey
}

.topbanner{
    background-color: black;
}

header{
     background-color: black;
     padding: 1px;
     padding-left: 20px;
}

footer{
    background-color: black;
    padding: 1px;
    padding-left: 20px;
    font: bold;
}

#divrightbooking{
    text-align: right;
    color: red;
}

#catoftheweekbook{
    text-align: right;
    color: red;
}

#contact{
    color: white;
}

nav{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

